[submodule "lib/NHP-Theme-Options-Framework"]
	path = lib/NHP-Theme-Options-Framework
	url = git://github.com/leemason/NHP-Theme-Options-Framework.git
[submodule "lib/CSS-Generator-for-NHP-Framework"]
	path = lib/CSS-Generator-for-NHP-Framework
	url = git://github.com/jmahony/CSS-Generator-for-NHP-Framework.git
[submodule "lib/JMetaBox"]
	path = lib/JMetaBox
	url = https://github.com/jmahony/JMetaBox.git
[submodule "lib/twitteroauth"]
	path = lib/twitteroauth
	url = https://github.com/abraham/twitteroauth.git
[submodule "lib/mustache"]
	path = lib/mustache
	url = https://github.com/bobthecow/mustache.php.git
